.xs-scale-reduce-for-text {
  @media (max-width: 440px) {
    font-size: 0.5rem;
  }
}
.xs-gap-reduce {
  @media (max-width: 440px) {
    gap: 6;
  }
}
.bg-gradient-custom-about-me{
  background: #f2f2f2;
  background: linear-gradient(
    90deg,
    rgb(242, 242, 242) 0%,
    #ddf0e3 52%,
    #d9d9bd 78%,
    #eae4d58a 100%
  );
}
.bg-gradient-custom-education{
  background: #f2f2f2;
  background: linear-gradient(
    270deg,
    rgb(242, 242, 242) 0%,
    #ddf0e3 52%,
    #d9d9bd 78%,
    #eae4d58a 100%
  );
}
.text-custom-color-green {
  color: #eae4d5;
}
