@import url("https://fonts.googleapis.com/css2?family=Bad+Script&family=Calligraffitti&family=Comfortaa:wght@300..700&family=League+Spartan:wght@100..900&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap");
@import "tailwindcss";

body {
  font-family: "Titillium web", sans-serif;
  background-color: #f2f2f2;
}

.titillium-web {
  font-family: "Titillium Web", sans-serif;
}

.bad-script-custom-font {
  font-family: "Comfortaa", cursive;
  font-weight: 300;
  font-style: normal;
}
.league-spartan {
  font-family: "League Spartan", sans-serif;
}
.text-custom-color {
  /* color: #bfe47f; */
  color: #bbd58e;
}
.bg-custom-color {
  background-color: #f3eeee;
}
